.star {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.rating:hover .star,
.rating .star.active {
  color: gold;
}

.rating:hover .star:hover ~ .star
 {
  color: gray;
}


.delete-btn {
  font-size: 16px;
  color: white;
  background-color:rgb(228, 77, 77);
  margin: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 15%;
}

.delete-btn:hover {
  background-color:rgb(255, 0, 0);
}

.alert {
  font-size: 16px;
  color: rgb(228, 77, 77);
  margin: 1rem;
  padding: 0.7rem 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.btn-primary-cp
 {
    font-size: 16px;
    color: white;
    background-color:rgb(0, 0, 255);
    margin: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 15%;
 }
.btn-primary-cp:hover
 {
    cursor: pointer;
 }
